:root {
  --white: #eeeeee;
  --darkgray: #222831;
  --lightgray: #393e46;
  --orange: #d65a31;
  --green: #257d28;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
